@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .btn {
        @apply inline-flex items-center px-4 py-2
               bg-black text-white
               rounded-md font-semibold text-sm
               hover:bg-gray-800
               focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2
               transition;
    }

    .btn-danger {
        @apply bg-red-600 hover:bg-red-700 focus:ring-red-500;
    }

    .btn-secondary {
        @apply bg-gray-600 hover:bg-gray-700 focus:ring-gray-500;
    }
}
